*{
   font-family: 'Times New Roman', Times, serif;
   background: yrgb241, 239, 237
   margin: 0;
   padding: 12px;
}
body{
    max-width: 650px;
    margin: 30px;
}
fieldset{
    background: rgb(241, 239, 237);
    width:500px;
    margin: 50px;
    padding: 75px 50px;
    border-radius: 10px;
    box-shadow: blueviolet;
}
h1{
    font-size: 40px;
    margin-bottom: 5px;
    color: burlywood
}
.header-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.add-btn{
    padding: 8px 16px;
    background: burlywood;
    color: black;
    border: solid;
    border-radius: 20px;
    cursor: pointer;
}
#filter{
    padding: 8px;
    font-size: 20px;
}
.brew-card{
    display: flex
    align-items: center;
    background: : white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: purple;
}
.tittle-line{
    display: flex;
    align-items: center;
    gap: 10px;
}
.circle{
    width: 20px;
    height: 20px;
    border-style: solid;
    border-radius: 100%;
    display: flex;
    align-items:center
    justify-content: center
    font-weight:bold;
    margin-right:15px;
}
.orange{ background: orange;}
.green{background: green;}
.maroon{background: maroon;}
.details h3{
    margin: 0;
}
.img{
 width: 15px;
}
.tags{
    margin-top: 10px
}
.tag{
    background: #eee;
    padding: 3px 8px;
    border-style: solid;
    border-radius: 12px;
    font-size: 12px;
    cursor:pointer;
}
.edit-btn{
    padding: 8px 16px;
    background: burlywood;
    color: black;
    border: solid;
    border-radius: 20px;
    cursor: pointer;